guides/Activities.md
devices/init/vpn/login.text
server/config/devices/devices_init.yaml

**/package-lock.json
.DS_Store
Thumbs.db
node_modules
dji_executables
bag
yarn.lock
.vs/
.vscode/
*.log
*.env
*.pyc
*.sln
*.swp
*.ovpn
.envrc
/devices/vtol/stream/build/
compile_commands.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
postgres_data