.DS_Store
Thumbs.db
node_modules
bag
.env
yarn.lock
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
**/package-lock.json
compile_commands.json
.envrc
guides/Activities.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
