#mapid { width: 100%; height: 100% }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 314159;
    pointer-events: auto;
}

.overlay .btn {
    pointer-events: initial;
}

.overlayTab {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 314158;
    pointer-events: auto;
}

.overlayTab #uavTable {
    display: none;
  }

#mydiv {
    position: absolute;
    /* z-index: 9; */
    /* background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center; */
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;    
    bottom: 0;
    left: 0;
    z-index: 314158;
}
  
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 314159;
    background-color: #2196F3;
    color: #fff;
}

/*lo que estaba en index */ 


input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }

    label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    }

    table {
      border-collapse: collapse;
      /* border-spacing: 0; */
      /* width: 100%; */
      border: 1px solid #ddd;
      /* position: absolute;
      bottom: 0;
      left: 0;
      z-index: 314158; */
    }

    td {
      text-align: center;
      padding: 5px;
      font-weight: bold;
      border: 2px solid white;
    }

    tr:nth-child(odd){
      color: rgb(8, 8, 8);
      background-color: #b9e7e1;
      /* width: 100% */
    }
       
    tr:nth-child(even){
      color: rgb(8, 8, 8);
      background-color: #f2f2f2;
      /* width: 100% */
    }

    th {
      text-align: center;
      padding: 8px;
      background-color: #4CAF50;
      /* background-color: #7f6ba0; */
      color: white;
      font-weight: bold;
      width: 180px
    }
    icon-upload {
      margin-left: 25%;
    }
    #container {
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    z-index: 314158;
  }
  /* #item {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    z-index: 314159;
  } */
  #myitem {
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    /* border: 3px solid #4CAF50; */
    border-radius: 5px;
    touch-action: none;
    user-select: none;
    z-index: 314159;
    color: white;
    text-align: center;
    border: 3px solid #ddd;
    font-weight: bold;
  }
  /* #item:active {
    background-color: rgba(168, 218, 220, 1.00);
  } */
  #myitem:active {
    background-color: #3e8f41;
  }
  /* #item:hover {
    cursor: pointer;
    border-width: 20px;
  } */
  #myitem:hover {
    cursor: pointer;
    /* border-width: 20px; */
  }

/* Navbar container */
.navbar {
overflow: hidden;
background-color: #333;
font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 314159;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
z-index: 314159;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
z-index: 314159;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

#statusWindow {
/* width: 100%; */
width: 300px;
border-radius: 5px;  
border: 2px solid rgb(138, 132, 132);
background-color: rgb(138, 132, 132, 0.8);
/* background-image: linear-gradient(to bottom,#e8e6e8 0,#d1cfd1 100%); */
padding: 20px;
text-align: left;
/* font-size:160%; */
font-family:'Courier New', Courier, monospace;
color: chartreuse;  
margin-top: 10px;
position: absolute;
top: 0;
right: 0;
z-index: 314159;
pointer-events: auto;
}