openapi: 3.0.1
#this is based of https://www.traccar.org/api-reference/#tag/Commands/paths/~1commands~1%7Bid%7D/put
info:
  title: GSC (Ground Station control MultiUAV)
  description: Descripcion de API de Alto nivel para comunicacion de Ros  con UAV.
  version: "2.3.1"
servers:
  - url: https://localhost:4000/api/
tags:
  - name: Devices
    description: Management of UAV-devices
  - name: Positions
    description: Obtains raw data from the UAV
  - name: Missions
    description: Management the mission
  - name: Commands
    description: Send command the UAV
#  - name: Events
#    description: Obtiene informacion de eventos
#  - name: Notifications
#    description: Gestion de notificaciones de usuario
#  - name: session
#    description: for future
#  - name: Reports
#    description: for future
#  - name: Camera
#    description: for future


paths:
  /devices:
    get:
      tags:
      - Devices
      summary: Fetch a list of Devices
      description: Return the list of devices
      parameters:
      - $ref: '#/components/parameters/token'
      responses:
        200:
          description: (ok) list of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        400:
          description: No permission
          content: {}
    post:
      summary: Create a Device
      tags:
      - Devices
      parameters:
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyAddUAV'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyAddUAV'
      x-codegen-request-body-name: body
      
  /devices/{id}:
    delete:
      summary: Delete a Device
      tags:
      - Devices
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No Content
          content: {}

  /postitions:
    get:
      summary: Fetches a list of Positions
      description: We strongly recommend using Websocket
        instead of periodically polling positions endpoint. Without any params, it
        returns a list of last known positions for all the user's Devices. _from_
        and _to_ fields are not required with _id_.
      tags:
      - Positions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Position"
  /loadmission/{id}:
    put:
      summary: Load mission to devices
      description: without any parameter,load the mission all UAV's
      tags:
        - Missions
      parameters:
      - name: id
        in: path
        schema:
          type: integer
      responses:
        '204':
          description: No Content
          content: {}
        

  /commandmission/{id}:
    put:
      summary: Command to exec mission
      description: without any parameter,load the mission all UAV's
      tags:
        - Missions
      parameters:
      - name: id
        in: path
        schema:
          type: integer
      responses:
        '204':
          description: No Content
          content: {}

  /comands/send:
    post:
      summary: Send command to devices
      description: Send command to  devices
      tags:
      - Commands
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Command"
        required: true
      responses:
        '200':
          description: Command sent
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Command"
        '400':
          description: Command no match 
          content: {}
      x-codegen-request-body-name: body



components:
  #responses:
    
  parameters:
    token:
      name: token
      in: header
      description: Token de autenticacion
      required: false
      schema:
        type: string
    
  schemas:
    BodyAddUAV:
      type: object
      properties:
        uav_id:
          type: string
        uav_type:
          type: string

    Device:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        lastUpdate:
          type: string
          description: in IS0 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        #model:
        #  type: string
        category:
          type: string
        #attributes:
        #  type: object
        #  properties: {}

    Position:
      type: object
      properties:
        #id:
        #  type: integer
        deviceId:
          type: integer
        #protocol:
        #  type: string
        deviceTime:
          type: string
          description: in IS0 8601 format. eg. `1963-11-22T18:30:00Z`
          format: date-time
        #fixTime:
        #  type: string
        #  description: in IS0 8601 format. eg. `1963-11-22T18:30:00Z`
        #  format: date-time
        #serverTime:
        #  type: string
        #  description: in IS0 8601 format. eg. `1963-11-22T18:30:00Z`
        #  format: date-time
        #outdated:
        #  type: boolean
        #valid:
        #  type: boolean
        latitude:
          type: number
        longitude:
          type: number
        altitude:
          type: number
        speed:
          type: number
          description: in knots
        course:
          type: number
        #address:
        #  type: string
        #accuracy:
        #  type: number
        #network:
        #  type: object
        #  properties: {}
        attributes:
          type: object
          properties:
            protocol:
              type: string
            mission_state:
              type: string
            wp_reached:
              type: integer
            uav_state:
              type: string
            landed_state:
              type: string
            alarm:
              type: string
    Command:
      type: object
      properties:
        deviceId:
          type: integer
        attributes:
          type: object
          properties: {}
    
    Notification:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
        attributes:
          type: object
          properties: {}