<launch>
    <arg name="ns" default="uav_14"/>
    <arg name="latitude" default="37.193646"/>
    <arg name="longitude" default="-6.70293"/>
    <arg name="category" default="dji_M300"/>
    <node name="$(arg ns)_sim" type="uavServices.py" pkg="aerialcore_gui" output="screen">
        <param name="ns" type="string" value="$(arg ns)"/>
        <param name="lat" value="$(arg latitude)"/>
        <param name="lon" value="$(arg longitude)"/>
        <param name="category" value="$(arg category)"/>
    </node>
</launch>